*{
    margin: 0;
    padding: 0;
}
.container{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /*border: 1px dotted black;*/
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
div > p{
    color: red;
}