*{
    margin: 0;
    padding: 0;
}

header{
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
    
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    margin-right: 10px;
    font-weight: bold;
}

li a{
 text-decoration: none;
 color: #2d2d2d;
}


.noticias-container{
    display: flex;
}
.art-noticias{
    border: 1px solid black;
}


.img-logo{
    width: 100px;
}